html
  head
    base(href=base + "/")
    meta(charset="utf-8")
    style.

      body {
        background-color: #BBDEFB
      }

      .logo {
        display: block;
        margin: auto;
      }

      .dishEditable:hover {
        border: solid 1px;
        margin: -2px;
      }

      .mainMenuDay {
        max-width: 450px;
        margin: auto;
      }

      /* Print Styles */
      @media print {
        hr { 
          display: none !important;
        }

        button {
          display: none !important;
        }

        th {
          background-color: #efefef !important;
        }

        td {
          background-color: white !important;
        }

        .dishDescription {
          display: none !important;
        }

        .menu {
          width: 100% !important;
        }

        .mainMenu {
          page-break-after: always !important;
          break-after: always !important;
        }

        .mainMenuDay {
          page-break-after: always !important;
          break-after: always !important;
        }

        .menuAppBar {
          display: none !important;
        }
      }
  body
    div#content
    script().
      window.authorization = '#{authorization}';
      window.logo = '!{config.logo.svg}';
    script(src="www/js/bundle." + (config.environment === "development" ? "" : "min.") + "js")
