html
  head
    base(href=base + "/")
    meta(charset="utf-8")
    style.
      body {
        background-color: #BBDEFB
      }
      /* Print Styles */
      @media print {
        hr { 
          display: none !important;
        }

        button {
          display: none !important;
        }

        th {
          background-color: #efefef !important;
        }

        td {
          background-color: white !important;
        }

        .dishDescription {
          display: none !important;
        }

        .menu {
          width: 100% !important;
        }

        .menuFooter {
          display: block !important;
        }

        .mealNotRequired {
          display: none !important;
        }
      }
  body
    div#content
    script().
      window.authorization = '#{authorization}';
    script(src="www/js/bundle." + (config.environment === "development" ? "" : "min.") + "js")
